# Intellij
.idea/
*.iml
*.iws
.env
**/out

# Mac
.DS_Store

# Maven
log/
target/

# Eclipse
**/*.project
**/*.classpath
**/*.settings

# Gradle build cache and wrapper
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar